<!-- gif-list -->
<!-- <div class="pt-5"> -->
<!-- enviamos al  imageUrls del hijo la signal del padre(este) -->
<!-- <gifs-list [gifs]="gifService.trendingGifs()" /> -->
<!-- </div> -->

<!-- MASONRY -->

<div class="h-screen overflow-y-scroll grid grid-cols-2 md:grid-cols-4 gap-4 pt-5"
   (scroll)="onScroll()"
   #groupDiv
>
   @for(group of gifService.trendingGitGroup(); track $index) {
   <div class="grid gap-4">
      @for(gif of group; track gif.id) {
      <div>
         <img
            class="h-full w-full rounded-lg object-cover"
            [src]="gif.url"
            [alt]="gif.title"
         />
      </div>
      }
   </div>
   }
</div>
