<div class="bg-slate-100s w-screen h-screen antialiased text-slate-300 selection:bg-blue-600 selection:text-white">
  <div class="flex flex-col relative w-screen">

    <!-- gifs-side-menu -->
    <gifs-side-menu />
    <!-- 
    * el contenido de la pagina (rutas hijas) con margin left de 220px para que no sea solapado por el menu.

    * flex      => display: flex;
    * flex-col  => flex-direction: column;
    * flex-1 coge todo el espacio disponible si va con flex previo

    -->
    <div class="ml-[220px] flex flex-col flex-1 h-full text-slate-800">
      <router-outlet />
    </div>
  </div>
</div>
