<h2>Validaciones Reactivas</h2>
<hr />

<div class="row">
   <div class="col">
      <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSubmit()">
         <!-- Nombre -->
         <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Nombre y apellido</label>
            <div class="col-sm-9">
               <input
                  type="text"
                  class="form-control"
                  placeholder="Nombre del usuario"
                  formControlName="name"
               />

               <!-- * ERROR GENERAL -->
               @if (formUtils.isValidField(myForm, "name")) {
               <span class="form-text text-danger">
                  <!-- llamamos a la funcion que opera con los mensajes en funcion de las validaciones -->
                  {{ formUtils.getFieldError(myForm, "name") }}
               </span>
               }
            </div>
         </div>

         <!-- Email -->
         <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-9">
               <input
                  type="email"
                  class="form-control"
                  placeholder="Email del usuario"
                  formControlName="email"
               />
               @if(myForm.pending && myForm.controls['email'].touched) {
                <svg xmlns="http://www.w3.org/2000/svg" class="mt-2" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M10.14,1.16a11,11,0,0,0-9,8.92A1.59,1.59,0,0,0,2.46,12,1.52,1.52,0,0,0,4.11,10.7a8,8,0,0,1,6.66-6.61A1.42,1.42,0,0,0,12,2.69h0A1.57,1.57,0,0,0,10.14,1.16Z"><animateTransform attributeName="transform" dur="0.75s" repeatCount="indefinite" type="rotate" values="0 12 12;360 12 12"/></path></svg>
               }
               <!-- * ERROR GENERAL -->
               @if (formUtils.isValidField(myForm, "email")) {
               <span class="form-text text-danger">
                  <!-- llamamos a la funcion que opera con los mensajes en funcion de las validaciones -->
                  {{ formUtils.getFieldError(myForm, "email") }}
               </span>
               }
            </div>
         </div>

         <!-- Username -->
         <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Username</label>
            <div class="col-sm-9">
               <input
                  type="text"
                  class="form-control"
                  placeholder="Nombre código del usuario"
                  formControlName="username"
               />
               
               <!-- * ERROR GENERAL -->
               @if (formUtils.isValidField(myForm, "username")) {
               <span class="form-text text-danger">
                  <!-- llamamos a la funcion que opera con los mensajes en funcion de las validaciones -->
                  {{ formUtils.getFieldError(myForm, "username") }}
               </span>
               }
            </div>
         </div>

         <!-- Password -->
         <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Password</label>
            <div class="col-sm-9">
               <input
                  type="password"
                  class="form-control"
                  placeholder="Password de su cuenta"
                  formControlName="password"
               />
               <!-- * ERROR GENERAL -->
               @if (formUtils.isValidField(myForm, "password")) {
               <span class="form-text text-danger">
                  <!-- llamamos a la funcion que opera con los mensajes en funcion de las validaciones -->
                  {{ formUtils.getFieldError(myForm, "password") }}
               </span>
               }
            </div>
         </div>

         <!-- Password2 -->
         <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Confirmar</label>
            <div class="col-sm-9">
               <input
                  type="password"
                  class="form-control"
                  placeholder="Confirmar la contraseña"
                  formControlName="confirmPassword"
               />
               <!-- * ERROR GENERAL -->
               @if (formUtils.isValidField(myForm, "confirmPassword")) {
               <span class="form-text text-danger">
                  <!-- llamamos a la funcion que opera con los mensajes en funcion de las validaciones -->
                  {{ formUtils.getFieldError(myForm, "confirmPassword") }}
               </span>
               } 

               @if (myForm.errors && myForm.touched) {
                <span class="form-text text-danger">
                    {{ formUtils.getTextError(myForm.errors) }}
                </span>
                }
            </div>
         </div>

         <div class="row">
            <div class="col">
               <button class="btn btn-primary float-end" type="submit">
                  Crear
               </button>
            </div>
         </div>
      </form>
   </div>
</div>

<!-- <h2>Form Valid:</h2>
<pre>{{ myForm.valid | json }}</pre>

<h2>Form Value:</h2>
<pre>{{ myForm.value | json }}</pre>

<h2>Form Status:</h2>
<pre>{{ myForm.status | json }}</pre>

<h2>Form Pending:</h2>
<pre>{{ myForm.pending | json }}</pre>

<h2>Form errors</h2>
<pre>{{ myForm.errors | json }}</pre>

<h5>Nombre</h5>
<pre>{{ myForm.controls["name"].errors | json }}</pre>

<h5>Email</h5>
<pre>{{ myForm.controls["email"].errors | json }}</pre>

<h5>Username</h5>
<pre>{{ myForm.controls["username"].errors | json }}</pre>

<h5>Password</h5>
<pre>{{ myForm.controls["password"].errors | json }}</pre>

<h5>Confirmar</h5>
<pre>{{ myForm.controls["confirmPassword"].errors | json }}</pre> -->
