<section class="m-9">
   <h1 class="text-3xl font-bold font-montserrat">Todos los Productos</h1>
   <h2 class="text-2xl font-pacifico mb-3">Para todos los gustos</h2>

   <!-- PAGINATION -->
   <app-pagination
      [pages]="productsResource.value()?.pages ?? 0"
      [currentPage]="getCurrentPage()"
   />

   <hr class="m-9"/>

   @if(getRxResourceProducts() && getRxResourceProducts().length ){
   <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-2 gap-3"
   >
      @for(product of productsResource.value()?.products; track product; let i =
      $index) {
      <product-card [product]="product" />
      }
      <!-- empty -->
      <!-- @empty {
        <div class="bg-blue-50">
            <front-not-found />
        </div>
     } -->
   </div>
   }@else {
   <div class="mt-9">
      <front-not-found />
   </div>
   }

   <!-- PAGINATION -->
   <app-pagination
      [pages]="productsResource.value()?.pages ?? 0"
      [currentPage]="getCurrentPage()"
   />
</section>
